
body{
    font-family:Inter ;
}
.navdiv{
    background-color:#FEF6E5;
   font-family: 'Inter';
}
.navbar{
    display: flex; align-items: center;
    justify-content: space-between;
    
}
.logo a{
    align-items: center;
    
}
li{
    display: inline-block;
list-style: none;
}
li a{
    text-decoration: none;
    color: black;
   font-weight: bold;
    font size: 25px; 
    margin-right: 25px;
 
}
button {
    color: white;
    background-color: black;
    border-radius: 30px;
   height: 31px;
   width: 98px;

}
.herosection{
    position: relative;

}
.img1{
    width: 100%;
}
.text1{
    position: absolute;
    top: 60px;
    left: 50px;
    font-weight: bold;
    font-size: 45px;
    flex-wrap: wrap;
}
.para1{
    position: absolute;
    left:50px;
    top: 300px;
    font-size: 20px;
   
}
.herosection2{
    position:relative;
}
.img2{
    width: 100%;
}


.para2{
    position: absolute;

}
@media (min-width: 600px) and (max-width: 800px) {
    .text1 {
        font-size: 30px;
    }
    .para1 {
        font-size: 15px;
        top: 160px;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .text1 {
        font-size: 35px;
    }
    .para1 {
        font-size: 20px;
        top: 180px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .text1 {
        font-size: 80px;
    }
    .para1 {
        font-size: 45px;
        top: 360px;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .text1 {
        font-size: 65px;
    }
    .para1 {
        font-size: 30px;
        top: 350px;
    }
}

@media (max-width: 600px) {
    .text1 {
        font-size: 25px;
    }
    .para1 {
        font-size: 10px;
        top: 130px;
    }
}
